*{
    text-align: center;
}

html{
    background-color: #d1ebe5;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto; /*너비에서 남는 여백을 동일하게 분배*/
}

hi{
    font-size: 50px;
}

p{
    font-size: 1.5rem;
}
